<!DOCTYPE html>
<html>
  <title>test</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/index.css">
  <body>
    <% include _partial/header %>
    <h1 class="heading--title__main">やっほ</h1>
    <div class="heading--title__sub js-test">テスト</div>

  </body>
  <script type="text/javascript" src="/js/index.js"></script>
</html>
