@charset "utf-8";

@import "_variables";

html {
  color: $default-color;
  font-family: $default-font-family;
  font-size: $default-font-size;
  line-height: $default-line-height;
}

.header--item {
  color: $red;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}

@mixin title {
  background: $red 0 0 no-repeat;
  color: $white;
  text-align: center;
}

.heading--title__main {
  @include title;

  font-size: 18px;
  font-weight: bold;
  padding: 20px 30px;
}

.heading--title__sub {
  @include title;

  padding: 10px 30px;
}
